.About {
  background-color: rgba(191, 220, 231, 0.2);
  width: auto;

  min-width: 250px;
  max-width: 740px;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;

  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 8px -8px black;
}

.About p {
  color: rgb(0, 41, 88);
  font-size: 1rem;
}

@media only screen and (max-width: 1500px) {
  .About {
    margin: auto;
  }
}
