.blogs-container {
  text-align: left;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 5rem;
  border-radius: 25px;
  background-color: rgba(191, 220, 231, 0.2);
}

.blogs-container:hover {
  background-color: rgba(124, 180, 200, 0.2);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 8px -8px rgb(3, 23, 200);
}

.blogs-container h3 {
  padding: 1rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  margin-top: 1rem;
  font-size: 2rem;
  margin-left: 7rem;
}

.blogs-container small {
  margin-left: 6rem;
}

.heading-link {
  font-size: 1.2rem;
  color: rgb(0, 1, 3);
  text-decoration: none;

  padding: 1rem;
}

.heading-link:hover {
  color: rgb(0, 41, 88);
}

.read-more {
  float: right;
  font-size: 0.9rem;
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {
  .blogs-container {
    margin-top: 3rem;
    margin: 1.5rem;
  }
}
