.Header {
  align-items: center;
  margin-left: 10rem;
  background-color: rgb(15, 57, 92);
  padding: 2px;
  border-radius: 25px;
  border: solid 1px rgb(186, 226, 231);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 8px -8px black;
  min-width: 250px;
  max-width: 760px;

  margin-right: 10rem;
}

#header-title {
  color: white;
  text-align: center;
  font-weight: bold;
}

#subheader-text {
  color: rgb(255, 255, 255);

  text-align: center;
}


@media only screen and (max-width: 1500px) {
  .Header {
    margin: auto;
  }
}
