.container {
  margin-left: 15rem;
  margin-right: 10rem;
  margin-top: 3rem;
  padding: 5rem;
  background-color: rgba(191, 220, 231, 0.2);
  height: auto;
  border-radius: 25px;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-left: 10rem;
    margin-right: 5rem;
  }
}
